* {
    margin: 0;
    padding: 0;
  }

.check{
  margin: 0px;
  padding: 0px;
}
/* .contcheck{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-content: center; 
    
    
} */

